<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <br>
      <h1>
        Welcome to {{title}}!
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <br>
      <a routerLink="/employees" class="btn btn-primary">List Class</a>
      <a style="margin-left:10px" routerLink="/add" class="btn btn-success">Add Class</a>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>