<h2>Add Employee</h2>
<form>

    <div class="form-group">
        <label for="name">Code:</label>
        <input [(ngModel)]="employee.code" placeholder="Code" name="code" class="form-control" id="code">
    </div>

    <div class="form-group">
        <label for="name">Name:</label>
        <input [(ngModel)]="employee.name" placeholder="Name" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="status">status:</label>
        <input [(ngModel)]="employee.status" placeholder="status" name="status" class="form-control" id="status">
    </div> 
 
    <div class="form-group">
        <label for="description">description:</label>
        <input [(ngModel)]="employee.description" placeholder="description" name="description" class="form-control"
            id="description">
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success" (click)="createEmployee()">Create</button>
    </div>

</form>